In [1]:
#List Comprehension
lst=[1,2,3,4]
lst1=[]
for i in lst:
    lst1.append(i**2)
print(lst1)

[1, 4, 9, 16]

In [2]:
[i**2 for i in lst]

[1, 4, 9, 16]

In [11]:
### Sum of even numbers inside a collection
lst=[1,2,3,4,5,6,7,8,9,10]
lst1=sum([i for i in lst if i%2==0])
lst1

30

Tuples

In [8]:
type((1,2,3,4))

tuple

In [9]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [12]:
t=tuple([1,2,3,4,5,"Raj"])

In [15]:
t[5:]

('Raj',)

In [16]:
l=['Tom','Smith','Bob']
l

['Tom', 'Smith', 'Bob']

In [22]:
[i[::-1] for i in l][::-1]

['boB', 'htimS', 'moT']

# SETS

In [23]:
set((1,2,3,4,5))

{1, 2, 3, 4, 5}

In [24]:
s={1,2,3,4,5}
type(s)

set

In [25]:
set([1,2,3,2,4,2,5,6,3,4,5,6,8,7])

{1, 2, 3, 4, 5, 6, 7, 8}

In [26]:
type({})

dict

In [27]:
type({1})

set

In [28]:
x = set()

In [2]:
x1={1,2,3,4,5}
x2={2,3,4,5,6,7}

In [3]:
x1.add(6)
x1

{1, 2, 3, 4, 5, 6}

In [34]:
x1.union(x2)

{1, 2, 3, 4, 5, 6, 7}

In [35]:
x1.intersection(x2)

{2, 3, 4, 5, 6}

In [36]:
x1

{1, 2, 3, 4, 5, 6}

In [39]:
x1.intersection_update(x2)
x1

{2, 3, 4, 5, 6}

In [5]:
x1.difference(x2)

{1}

In [12]:
x1={3,4,5}

In [13]:
x2={1,2,3,4,5,6,7}

In [14]:
x1.issubset(x2)

True

In [15]:
x2.issuperset(x1)

True

# Dictionaries

In [16]:
{1:'Raj',2:'Python',3:'Mohan'}

{1: 'Raj', 2: 'Python', 3: 'Mohan'}

In [18]:
var = {1:'Raj',2:'Python',3:'Mohan'}
type(var)

dict

In [22]:
#Indexing
var.items()

dict_items([(1, 'Raj'), (2, 'Python'), (3, 'Mohan')])

In [25]:
var.keys()

dict_keys([1, 2, 3])

In [27]:
var.values()

dict_values(['Raj', 'Python', 'Mohan'])

In [32]:
var[2]

'Python'

In [34]:
my_dict = {'key1':123,'key2':[12,22,33],'key3':['item0','item1','item2']}
my_dict['key3']

['item0', 'item1', 'item2']

In [35]:
my_dict['key3'][1]

'item1'

In [36]:
my_dict['key4']=20

In [37]:
my_dict

{'key1': 123,
 'key2': [12, 22, 33],
 'key3': ['item0', 'item1', 'item2'],
 'key4': 20}

Nesting Dictionaries

In [39]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [41]:
d['key1']

{'nestkey': {'subnestkey': 'value'}}

In [42]:
d['key1']['nestkey']

{'subnestkey': 'value'}

In [43]:
d['key1']['nestkey']['subnestkey']

'value'

# Dictionary Comprehension

In [44]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

#Functions

In [45]:
def greeting():
    print("Hello there")

In [47]:
greeting()

Hello there

In [53]:
### sum of all even numbers
def even_odd_sum(lst):
    es=0
    os=0
    for i in lst:
        if i%2==0:
            es+=i
        else:
            os+=i
    return es,os

In [54]:
even_odd_sum([1,2,3,4,5])

(6, 9)

In [56]:
a,b=even_odd_sum([1,2,3,4,5])
print(a)
print(b)

6
9

In [57]:
ls1=[2,3,4,5,6,7]
ls2=[6,7,8,9,3,4]

In [83]:
def abc(ls1,ls2):
    sum=[]
    for i in range(0,len(ls1)):
        sum.append(ls1[i]+ls2[i])
    return sum

In [84]:
abc([2,3,4,5,6,7],[6,7,8,9,3,4])

[8, 10, 12, 14, 9, 11]